[submodule "markdown-blog"]
	path = markdown-blog
	url = https://github.com/umer936/markdown-blog.git
	branch = umer_dev_work
[submodule "compass/markitup"]
	path = compass/markitup
	url = https://github.com/markitup/1.x.git
[submodule "PasswordsServ"]
	path = PasswordsExtension/PasswordsServ
	url = https://github.com/umer936/PasswordsServ.git
[submodule "PasswordsExt"]
	path = PasswordsExtension/PasswordsExt
	url = https://github.com/umer936/PasswordsExt.git
[submodule "2016scouting"]
	path = scouting
	url = https://github.com/umer936/Scouting.git
