[submodule "compass"]
	path = compass
	url = https://github.com/umer936/compass.git
[submodule "PasswordsServ"]
	path = PasswordsExtension/PasswordsServ
	url = https://github.com/umer936/PasswordsServ.git
[submodule "PasswordsExt"]
	path = PasswordsExtension/PasswordsExt
	url = https://github.com/umer936/PasswordsExt.git
[submodule "2016scouting"]
	path = scouting
	url = https://github.com/umer936/Scouting.git
[submodule "proj_tracker"]
	path = proj_tracker
	url = https://github.com/umer936/personal-project-tracker.git
